/* styles.css DE ALEGRIA */
body {
    margin: 0;
}

body.pagina-alegria {
    background: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),
    url("/assets/images/Alegria.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/* styles.css DE MIEDO */
body {
    margin: 0;
}

body.pagina-miedo {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("/assets/images/miedo.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

body.pagina-confianza {
    margin:0;
    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("assets/images/Confianza02.jpg") center/cover no-repeat fixed;

    color:white;
}





